@font-face {
  font-family: "ArchivoNarrow-Regular";
  src: url("../assets/fonts/ArchivoNarrow-Regular.ttf");
}

html {
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  width: 70vw;
  margin: 15vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 0;
  overscroll-behavior: none;
}

* {
  font-family: "ArchivoNarrow-Regular";
}
