.main_boardGames {
  height: auto;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 1px solid black;
}

.boardgame_display {
  display: flex;
  flex-direction: column;
  margin-top: 5vw;
  margin-bottom: 5vh;
  margin-right: 1vw;
  gap: 1vw;
}
