.main_game {
  width: 52vw;
  height: 20vh;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #a3d2ca;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game_picture {
  width: 8vw;
  height: auto;
}
