a {
  text-decoration: none;
}

.main_navbar {
  height: 25vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

.input_search {
  height: 5vh;
  width: 25vw;
  border-radius: 10px;
  padding-left: 1vw;
}

.basket_button {
  height: 5vh;
  width: 10vw;
  border-radius: 10px;
}

.logo_navbar {
  width: 12vw;
}

.searchBar_contact {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding-bottom: 2vh;
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact_link {
  padding: 0.5vw;
  color: black;
}

.contact_link:hover {
  border-radius: 10px;
  background-color:hotpink;
  color: whitesmoke;
}


.contact_logo {
  display: flex;
  gap: 0.5vw;
}

.logo_sn {
  width: 1.5vw;
}

.logo_sn:hover {
  transform: scale(1.5);
}

.flag_logo {
  display: flex;
  gap: 0.2vw;
}

.flag {
  width: 1.5vw;
}

.basket_account {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  padding-bottom: 2vh;
}
