.input_search {
  background: url("../assets/logos/loupe.png") no-repeat;
  background-size: 1.5vw;
  background-position: right;
  height: 5vh;
  width: 25vw;
  border-radius: 10px;
  padding-left: 1vw;
  box-shadow: -6px 10px 18px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -6px 10px 18px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -6px 10px 18px -9px rgba(0, 0, 0, 0.75);
}

.input_search:focus {
  outline: none;
}

.div_results {
  position: absolute;
  background-color: rgb(109, 107, 107);
  border-radius: 10px;
  margin-top: 1vh;
  width: 25vw;
}
