.main_warGames {
  height: auto;
  display: flex;
  justify-content: flex-start;
  background-color: whitesmoke;
  border: 1px solid black;
}

.wargame_display {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
  margin-right: 1vw;
  margin-left: 1vw;
  gap: 1vw;
}
